body {
    background-color: rgb(9, 103, 54);
    background-image: url("../img/tartanM.png");
    color: #eee;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: rgb(67, 49, 13);
    background-image: url("../img/wood.jpg");
    color: #eee;
    margin-top: ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 8px solid #222;
}

main {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

section {
    margin: 10px;
}

#direction {
    display: flex;
    justify-content: center;
    align-content: space-around;
    width: 800px;
    margin: 20px;
}

ul {
    position: relative;
    left: 15px;
}
li {
    list-style-type: disc;
    margin: 8px;
}

.head {
    list-style-type: none;
    margin: 8px;
    translate: -20px;
    font-size: 20px;
    font-weight: bold;
}

.sublist {
    list-style-type: circle;
    position: relative;
    left: 15px;
    font-size: 13px;
}

#links {
    display: flex;
    width: 800px;
    justify-content: space-around;
    margin: 40px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    padding: 4px;
    background-color: rgb(67, 49, 13);
    ;
    background-image: url("../img/wood.jpg");
    color: #eee;
    font-size: 18px;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: right;
    border-top: 4px solid #222;
}

footer p {
    padding-right: 40px;
}

button {
    color: #111;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 900;
    width: 170px;
    height:40px;
    margin: 10px; 
    filter:drop-shadow(5px 5px 3px rgb(10 10 10));
    border-radius: 10px;
    background-color: #ccc;
}

button:hover {
    color: rgb(200, 60, 10);
    background-color: #aaa;
    translate: 1px 1px;
    filter:drop-shadow(4px 4px 2px rgb(10 10 10));
}

button:active {
    color: rgb(70, 70, 70);
    background-color: #888;
    translate: 3px 3px;
    filter:drop-shadow(3px 3px 2px rgb(0 0 0));
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    display: none;
    position: absolute;
    background-color: rgb(225, 50, 80);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    display: block;
}
